In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from load_ghcn_tempdata import load_ghcn_data  # Import the function from your script

In [3]:
gdrive_url = 'https://drive.google.com/uc?id=1rxtNzZReXNLbEjGmCzcgaEGPzz1KolNA'

print("Loading the GHCN temperature data...")
df = load_ghcn_data(gdrive_url)

Loading the GHCN temperature data...
ghcn_temperature_data.csv already exists locally. Skipping download.
Data loaded successfully from ghcn_temperature_data.csv

In [4]:
df.head()

,ID,Year,Month,Element,Value1,Value2,Value3,Value4,Value5,Value6,Value7,Value8
0,ACW00011604,1961,TAVG,-142,k 1,83 k,419,k 720,k 10,75 k,1546,k 1517
1,ACW00011604,1962,TAVG,60,k,32 k,-207,k 582,k 8,55 k,1328,k 1457
2,ACW00011604,1963,TAVG,-766,k -6,06 k,-152,k 488,k 11,71 k,1574,k 1567
3,ACW00011604,1964,TAVG,9,k -1,38 k,2,k 685,k 11,66 k,1389,k 1453
4,ACW00011604,1965,TAVG,-9,k -1,58 k,-15,k 537,k 9,34 k,1447,k 1434

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471624 entries, 0 to 1471623
Data columns (total 12 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   ID       1471624 non-null  object
 1   Year     1471624 non-null  int64
 2   Month    1471624 non-null  object
 3   Element  1471624 non-null  int64
 4   Value1   1469889 non-null  object
 5   Value2   1471624 non-null  object
 6   Value3   1471624 non-null  object
 7   Value4   1471624 non-null  object
 8   Value5   1471528 non-null  object
 9   Value6   1471624 non-null  object
 10  Value7   1471624 non-null  object
 11  Value8   1471624 non-null  object
dtypes: int64(2), object(10)
memory usage: 134.7+ MB

In [6]:
# Checking for missing values
missing_values = df.isnull().sum()
print(missing_values)

ID            0
Year          0
Month         0
Element       0
Value1     1735
Value2        0
Value3        0
Value4        0
Value5       96
Value6        0
Value7        0
Value8        0
dtype: int64

In [7]:
# Summary stats for the data 
df.describe()

               Year       Element
count  1.471624e+06  1.471624e+06
mean   1.971236e+03 -7.020214e+02
std    3.673492e+01  3.043687e+03
min    1.701000e+03 -9.999000e+03
25%    1.950000e+03 -8.950000e+02
50%    1.977000e+03 -1.150000e+02
75%    2.000000e+03  7.010000e+02
max    2.024000e+03  7.600000e+03